body,
html {
    height: 100%;
    background-repeat: no-repeat;
}
#buttonn {
  border: 0;
  padding: 10px 20px;
  font-weight: bolder;
  background: #108A93;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius:3px;
  font-size: 18px;
  font: bold;
}

#button {
    border: 0;
    padding: 10px 10px;
    font-weight: bolder;
    background: rgb(107, 8, 8);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:3px;
    font-size: 18px;
    font: bold;
}

.touch {
    width: 40%;
}

.custom {
  width: 40%;
  -webkit-appearance: none !important;
  height:20px;
  border-radius: 8px;
  background:-webkit-gradient(linear,center top, center bottom, from(#CFDCDD),to(#DFE9EA),color-stop(50%,#DFE9EA));
-webkit-transition: background 450ms;
  transition: background 450ms;

}

/* Change the Slider Button Color Here */
.custom::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#000;
    height:30px;
    width:30px;
    border-radius: 15px;
}

.custom::-webkit-slider-thumb:before {
  background-color: yellow;
}

body {
  background:#fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font:18px #000;
  margin: 0%;
}

/* ONLY applicable if you want the bubble above the slider */

output {
  width: 100px;
  height: 40px;
  font-size: 2em;
}
