body,html {
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Oxygen', sans-serif;
    margin: 0%;
    padding: 10px;
}

button {
    border: 0;
    padding: 10px 10px;
    font-weight: bolder;
    background: #cccccc;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:3px;
    font-size: 18px;
    font: bold;
}
#lampada {
    border: 0;
    padding: 10px 30px;
    font-weight: bolder;
    background: rgb(155, 7, 39);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:3px;
    font-size: 12px;
    font: bold;
}
#on{
    border: 0;
    padding: 10px 30px;
    font-weight: bolder;
    background: rgb(68, 173, 7);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:3px;
    font-size: 12px;
    font: bold;
}
#off{
    border: 0;
    padding: 10px 30px;
    font-weight: bolder;
    background: rgb(77, 78, 77);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:3px;
    font-size: 12px;
    font: bold;
}
.principal{
    padding: 5px;
}
